# ##############################################################################

# iCEcube PCF

# Version:            2012.09SP1.22498

# File Generated:     May 1 2013 11:36:30

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 6
set_io clk 21

set_io FTDI_BDBUS0 38
set_io FTDI_BDBUS1 39
set_io FTDI_BDBUS2 40
set_io FTDI_BDBUS3 41
set_io FTDI_BDBUS4 42
set_io FTDI_BDBUS5 43
set_io FTDI_BDBUS6 44
set_io FTDI_BDBUS7 45
set_io PIO1_02
set_io PIO1_03
set_io PIO1_04
set_io PIO1_05
set_io PIO1_06
set_io PIO1_07
set_io PIO1_08
set_io PIO1_09